*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(214,143, 193);
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}
.navbar .logo a{
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 4rem;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.nav-links li a:hover{
    color: rgb(230, 67, 156);
}
.menu{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.menu span{
    background-color: aliceblue;
    height: 5px;
    width: 30px;
    border-radius: 3px;
}
@media (max-width: 992px){
    .nav-links{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: aliceblue;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        display: none;
    }
    .nav-links.active {
        display: flex;
    }
    .menu {
        display: flex;
    }
}
section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(flower.jpg);
    background-size: cover;
    background-position: center;

}
.home .content {
    max-width: 20rem;
}
    
.home .content h2 {
    font-size: 2.5rem;
    color: black;
}
.home .content span {
    font-size: 2rem;
    color: rgb(230, 67, 156);
    padding: 1rem 0;
    line-height: 1;
}
.home .content p {
    font-size:1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;

}
.button {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: black;
    color: aliceblue;
    padding: 3rem 3.5rem;
    cursor: pointer;
}
 .button:hover {
    background-color: rgb(230, 67, 156);
}
   .products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-image: url(flower.jpg);
}


    
   .product {
    border: 1px solid ;
    border-radius: 8px;
    padding: 10px;
   }
   .product img { 
    width: 100%;
    border-radius: 8px;
   }
.price {
    margin-top: 10px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.aboutus .box-container {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
}
.aboutus .box-container .box {
    display: inline;
    padding: 1.5rem;
}
.aboutus .box-container .box h2 {
    color: black;
    font-size: 1rem;
    padding: 1rem 0;
}
.aboutus .box-container .box a {
    display: block;
    color: rgb(34,30, 30);
    font-size: 1rem;
    padding: 1rem 0;
}

.aboutus .box-container .box a:hover {
    color: rgb(230, 67, 156);
    
}
footer{
    background-color: rgb(214,143, 193);
    color: black;
    text-align: center;
    padding:10px 0;
}






    